@import "styles/scroll";
@import "styles/upload_course";
@import "styles/upload_lesson";
@import "styles/instructor_courses";
@import "styles/loading";
@import "styles/course_video_content";

.toast-enter-active {
  /*transition: all 0.3s ease;*/
  animation: wobble 0.5s ease;
}
.toast-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.toast-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.toast-leave-active {
  transition: all 0.3s ease;
}

@keyframes wobble {
  0% { transform: translateY(-60px); opacity: 0; }
  50% { transform: translateY(0); opacity: 1; }
  60% { transform: translateX(8px) }
  70% { transform: translateX(-8px) }
  80% { transform: translateX(4px) }
  90% { transform: translateX(-4px) }
  100% { transform: translateX(0) }
}