::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #c2ffb7;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar-thumb {
  background: #04724D;
}
::-webkit-scrollbar-thumb:hover {
  background: #47a94c;
}